<section class="legend-container">
  <div class="legend-wrapper">
    <div class="legend-items">
      <h4>Máscara</h4>
      <div class="legend-item">
        <img
          src="/assets/images/required-mask.png"
          alt="Uso de máscara obrigatória."
        />
        <span>Obrigatório</span>
      </div>
      <div class="legend-item">
        <img
          src="/assets/images/recommended-mask.png"
          alt="Uso de máscara recomendado."
        />
        <span>Recomendado</span>
      </div>
    </div>

    <div class="legend-items">
      <h4>Toalha</h4>
      <div class="legend-item">
        <img
          src="/assets/images/required-towel.png"
          alt="Uso de toalha obrigatória."
        />
        <span>Obrigatório</span>
      </div>
      <div class="legend-item">
        <img
          src="/assets/images/recommended-towel.png"
          alt="Uso de toalha recomendado."
        />
        <span>Recomendado</span>
      </div>
    </div>

    <div class="legend-items">
      <h4>Bebedouro</h4>
      <div class="legend-item">
        <img
          src="/assets/images/partial-fountain.png"
          alt="Uso de parcial do bebedouro."
        />
        <span>Parcial</span>
      </div>
      <div class="legend-item">
        <img
          src="/assets/images/forbidden-fountain.png"
          alt="Uso de bebedouro proibido."
        />
        <span>Proibido</span>
      </div>
    </div>

    <div class="legend-items">
      <h4>Vestiários</h4>
      <div class="legend-item">
        <img
          src="/assets/images/required-lockerroom.png"
          alt="Vestiários liberados."
        />
        <span>Liberado</span>
      </div>
      <div class="legend-item">
        <img
          src="/assets/images/partial-lockerroom.png"
          alt="Vestiários parcialmente liberados."
        />
        <span>Parcial</span>
      </div>
      <div class="legend-item">
        <img
          src="/assets/images/forbidden-lockerroom.png"
          alt="Uso dos vestiários proibido."
        />
        <span>Parcial</span>
      </div>
    </div>
  </div>
</section>
