<section class="legend-container">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/images/png/required-mask.png"
          alt="Uso de máscara obrigatória."
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/recommended-mask.png"
          alt="Uso de máscara recomendado."
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/images/png/required-towel.png"
          alt="Uso de toalha obrigatória."
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/recommended-towel.png"
          alt="Uso de toalha recomendado."
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/images/png/partial-fountain.png"
          alt="Uso de parcial do bebedouro."
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/not_allowed-fountain.png"
          alt="Uso de bebedouro proibido."
        />
        <p>Proibido</p>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/images/png/allowed-lockerroom.png"
          alt="Vestiários liberados."
        />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/partial-lockerroom.png"
          alt="Vestiários parcialmente liberados."
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/images/png/closed-lockerroom.png"
          alt="Uso dos vestiários proibido."
        />
        <p>Parcial</p>
      </div>
    </div>
  </div>
</section>
